
\.gradle/4\.4/fileHashes/fileHashes\.bin

\.gradle/4\.4/fileHashes/fileHashes\.lock

\.gradle/4\.4/fileHashes/resourceHashesCache\.bin

\.gradle/4\.4/javaCompile/classAnalysis\.bin

\.gradle/4\.4/javaCompile/jarAnalysis\.bin

\.gradle/4\.4/javaCompile/javaCompile\.lock

\.gradle/4\.4/javaCompile/taskHistory\.bin

\.gradle/4\.4/javaCompile/taskJars\.bin

\.gradle/4\.4/taskHistory/taskHistory\.bin

\.gradle/4\.4/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/outputFiles\.bin

\.idea/caches/build_file_checksums\.ser

\.idea/libraries/Gradle__com_android_support_cardview_v7_27_1_1\.xml

\.idea/libraries/Gradle__com_squareup_okhttp_mockwebserver_1_2_1_jar\.xml

\.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk15on_1_48_jar\.xml

\.idea/libraries/

app/app\.iml

\.idea/
